body {
    display: flex;
    flex-direction: column;
}

header {
    flex-grow: 1;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid var(--line-grey);

    .header-wrapper {
        display: flex;
        column-gap: 30px;
        align-items: center;
        width: 1130px;
        margin: 0 auto;
        text-align: left;
    }
}

main {
    flex-grow: 4;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    column-gap: 100px;
    padding: 50px 0;
}

/* 搜索内容 */
.left-wrapper {
    width: 730px;
    text-align: left;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.right-wrapper {
    width: 300px;
    text-align: left;
}

/* 问题标题 */
.result-title {
    font-size: 32px;
    color: var(--main-black);
}

// 通用
.block-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.block-title {
    border-bottom: 7px solid var(--main-green30);
    font-size: 0;

    svg {
        width: 24px;
        height: 24px;
        margin-bottom: -12px;
        margin-right: 5px;
    }

    span {
        display: inline-block;
        line-height: 1;
        margin-bottom: -4px;
        vertical-align: middle;
        font-size: 18px;
    }
}

.block-options {
    color: var(--inter-option);
    cursor: pointer;
    line-height: 1;

    svg {
        width: 16px;
        height: 16px;
    }

    span {
        font-size: 14px;
        vertical-align: 3px;
        padding-left: 3px;
    }
}

/* 缩略行隐藏 */
.text-clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 回答 */
.answer-content {
    color: var(--main-black);
    margin-top: 20px;

    p {
        margin-top: 20px;

        span {
            margin-right: 5px;
        }
    }
}

.num-quote {
    display: inline-block;
    padding: 0 5px;
    color: var(--main-green);
    font-size: 12px;
    font-weight: bold;
    background-color: var(--main-green20);
    border-radius: 50%;
}

/* 相关图片 */
.pic-dot ul {
    display: flex;
    column-gap: 5px;

    li {
        width: 7px;
        height: 7px;
        background-color: var(--line-grey);
        border-radius: 7px;

        &.selected {
            width: 30px;
            background-color: var(--inter-option);
        }
    }

}

.pic-gallery ul {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    li {
        width: 170px;
        height: 100px;
        border: 1px solid var(--line-grey);
        border-radius: 5px;
        overflow: hidden;

        img {
            min-height: 100%;
            object-fit: cover;
            transition-duration: .5s;

            &:hover {
                transform: scaleX(1.25) scaleY(1.25);
            }
        }
    }
}

/* 生成操作 */
.block-generated {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--line-grey);
    font-size: 14px;
    color: var(--tip-grey);
    padding-top: 10px;
}

/* 参考链接 */
.sources-list {
    margin-top: 20px;

    li {
        font-size: 14px;
        background-color: var(--main-green10);
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 15px;

        .sources-title {
            color: var(--inter-option);
            @extend .text-clamp;
            -webkit-line-clamp: 2;
        }

        .sources-intro {
            color: var(--tip-grey);
            @extend .text-clamp;
            -webkit-line-clamp: 3;
        }
    }
}